.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 50px;
}
.presentation-contenant{
    display: flex;
    align-items: center;
    margin: 1%;
}
.presentation-texte{
    display: flex;
    gap: 25px;
    flex-direction: column;
    padding: 2%;
}
.presentation-texte p{
    font-size: 18px;
}
.presentation-elmt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.presentation-title{
    margin-top: 5rem;
    text-decoration: overline;
}

@media screen and (max-width: 950px){
    .presentation-contenant{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }
    .presentation-photo{
        display: flex;
        justify-content: center;
    }
    .presentation-photo img{
        width: 90%;        
    }
}