.galerie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 50px;
    align-content: center;
    animation: backInLeft;
    animation-duration: 5s;
}
.galerie-img img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.galerie-contenant{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 2px black solid;
    height: 100%;
}
.galerie-title h2 {
    color: black;
    font-size: 18px;
}
.galerie-title{
    border-bottom: 2px black solid;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
@media screen and (max-width: 950px){
    .galerie{
        display: flex;
        flex-direction: column;
    }
}